@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/blue';
@import 'themes/sand';

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.App {
  background: var(--bg-color);
  transition: background var(--app-transition);
  width: 100vw;
  height: 100vh;
}

.App_redesigned {
  background: var(--bg);
  transition: background var(--app-transition);
  width: 100vw;
  height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text);
}

.content-page {
  display: flex;
}

// iframe#webpack-dev-server-client-overlay{
//   display: none !important;
// }

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: .5rem;
    border: .15rem solid transparent;
    background: var(--light-bg) !important;
  }
	
  &::-webkit-scrollbar-thumb {
    background: var(--icon) !important;
    border-radius: 36px;

    &:hover {
      background: rgb(110 110 110);
    }
  }
}