@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

body {
	font: var(--font-m);
	background: var(--bg-color);
	color: var(--primary-color);
}

.App {
	min-height: 100vh; 
}

.content-page {
	display: flex;
}

.page-wrapper {
	padding: 20px;
	flex-grow: 1;
}