@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/blue';
@import 'themes/sand';

body {
  font: var(--font-m);
  color: var(--primary-color);

  .redesigned {
    font: var(--font-m-redesigned);
    color: var(--text);
  }
}

.App {
  background: var(--bg-color);
  transition: background var(--app-transition);
  width: 100%;
  height: 100%;
}

.App_redesigned {
  background: var(--bg);
  transition: background var(--app-transition);
  width: 100%;
  height: 100%;
  font: var(--font-m-redesigned);
  color: var(--text);
}

.content-page {
  display: flex;
}

// iframe#webpack-dev-server-client-overlay{
//   display: none !important;
// }

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--light-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon);
  border-radius: 20px;
  border: 1px solid var(--accent);
}