.ArticlesListItem {
  transition: var(--app-transition);
  text-decoration: none;

  a {
    text-decoration: none;
  }
}

.LIST {
  .img {
    object-fit: contain;
    max-height: 250px;
    width: 100%;
    user-select: none;
  }

  .text {
    max-height: 72px;
    overflow: hidden;
  }

}

.TILE {
  &:hover {
    transform: scale(1.05);
    opacity: .8;
  }

  .title {
    max-width: 100%;
    word-wrap: break-word;
  }

  .card {
    width: 240px;
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 8px !important;
  }

  .img {
    width: 100%;
    object-fit: contain;
    min-height: 140px;
    max-height: 140px;
  }

  .info {
    padding: 8px 8px 16px;
    height: 100%;
  }

  .footer {
    height: 100%;
    justify-content: flex-end;
  }

  .avatar {
    margin-left: 8px;
  }
}
