.ArticlesListItem {
  transition: var(--app-transition);
  text-decoration: none;

  a {
    text-decoration: none;
  }
}

.LIST {
  width: 100%;

  .text {
    max-height: 200px;
    overflow-y: hidden;
    margin: 16px 0;
  }

  .img {
    object-fit: contain;
    max-height: 250px;
    width: 100%;
    user-select: none;
  }

  .text {
    max-height: 72px;
    overflow: hidden;
  }

}

.TILE {
  .title {
    width: 200px;
    p {
      word-break: break-all;
    }
  }

  .timestamp {
    position: absolute;
    top: -20px;
    right: 0;
    display: none;
  }

  &:hover {
    transform: scale(1.05);
    opacity: .8;

    .timestamp {
      display: block;
    }
  }

  .card {
    width: 240px;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    user-select: none;
  }

  .info {
    padding: 8px 8px 16px 8px;
    height: 100%;
  }

  .footer {
    height: 100%;
    justify-content: flex-end;
  }

}
