.options {
  position: absolute;
  background: var(--dark-bg);
  z-index: 20;
  width: 100%;
  min-width: 160px;
  overflow: hidden;

  &:active {
    outline-color: transparent; 
  }
}

.option {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text);
  overflow: hidden;
  font: var(--font-m);
}
