.options {
  position: absolute;
  background: var(--dark-bg);
  z-index: 20;
  width: 100%;
  max-width: fit-content;
  overflow: hidden;

  &:active {
    outline-color: transparent; 
  }
}

.option {
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text);
  overflow: hidden;
  font: var(--font-m);
}
