.ArticlesListFilters {
  margin-bottom: 16px;
}

.sort-filters {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.search-filters {
  width: 100%;
  border: 1px solid var(--primary-color);
  padding: 8px 16px;
}