@import 'reset';
@import "variables/global";
@import 'themes/dark';
@import 'themes/light';

.App {
	font: var(--font-m);

	background: var(--bg-color);
	color: var(--primary-color);

	min-height: 100vh; 
}