:root,
.app_blue_theme {
  --bg-color: #060a3b;
  --inverted-bg-color: #2c3941;
  --primary-color: #F2F3F8;
  --secondary-color: #3d9ccf;
  --inverted-primary-color: #b9b9b9;
  --inverted-secondary-color: #54a5d1;

  // * Skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // * Code
  --code-bg: #151e86;

  // * Card bg
  --card-bg: #101557;

  // * ListBox bg
  --list-box-bg: #101557;
}