:root,
.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #d8d8d8;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0051ff;

  // * Skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // * Code
  --code-bg: #2b2b74;

  // * Card bg
  --card-bg: #202074;

  // * ListBox bg
  --list-box-bg: #202074;
}