:root,
.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;

  // ! Redesign
  --dark-bg: #FFFFFF;
  --bg: #EFF5F6;
  --light-bg: #E2EEF1;
  --text: #141C1F;
  --hint: #ADBCC0;
  --cancel: #FF7777;
  --save: #62DE85;
  --icon: #5ED3F3;
  --accent: #00C8FF;

  // * Skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // * Code
  --code-bg: #fff;

  // * Card bg
  --card-bg: #d3d3d3;

  // * ListBox bg
  --list-box-bg: #d3d3d3;
}