.MainLayout {
  min-height: 100%;
  display: grid;
  grid-template-areas: 'aside content rightbar';
  grid-template-columns: min-content 1fr min-content;
}

.aside {
  grid-area: aside;
  padding: 32px;
  max-width: 284px;
  width: 100%;
}

.content {
  grid-area: content;
  max-width: 1300px;
  width: 100%;
  justify-self: center;
  padding: 32px;
}

.rightbar {
  min-width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightbar, .aside {
  position: sticky;
  top: 0;
  height: 100vh;
}

.header {

}

.toolbar {
  height: 100%;
  width: 100%;
}