.navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
	transition: var(--app-transition) background;
}

.links {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-left: auto;
}