.Button {
  cursor: pointer;
  color: var(--text);
  padding: 8px 16px;
  transition: calc(var(--app-transition) / 2);
  display: flex;
  align-items: center;

  &:disabled {
    opacity: .5;
  }

  &:hover {
    color: var(--accent);
  }
}

.with-addon {
  padding: 0 16px !important;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline-color: transparent;
  display: flex;
}

.outlined {
  border: 2px solid var(--accent);
}

.addon-left, .addon-right {
  display: flex;
  color: var(--hint);
}

.contained {
  background: var(--light-bg);
  border: none;
  outline: none;
  border-radius: 32px;
  padding: 8px 16px;

  // &:hover {
  //   background: var(--hint);
  // }
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.fullWidth {
  width: 100%;
}

.s {
  height: 32px;
  font: var(--font-m-redesigned);
}

.m {
  height: 38px;
  font: var(--font-l-redesigned);
}

.l {
  height: 44px;
  font: var(--font-xl-redesigned);
}
