.Card {
  border-radius: 12px;
  transition: var(--app-transition) background;
}

.fullWidth {
  width: 100%;
}

.outlined {
  border: 2px solid var(--accent);
}

.normal {
  background: var(--dark-bg);
}

.light {
  background: var(--light-bg);
}