.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loading, .error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}