.Dropdown {
  position: relative;
}

.trigger {
  cursor: pointer;
  outline-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.options {
  background: var(--card-bg);
  position: absolute;
  z-index: 10;
  border-radius: 0 0 4px 4px;
  border: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.option {
  padding: 8px 24px;
  padding-left: 12px;
  width: 100%;
  border: none;
  background: none;
  outline-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 8px;
}

.top-rounding {
  border-radius: 8px 8px 0 0;
}

.bottom-rounding {
  border-radius: 0 0 8px 8px;
}

.active {
  background: var(--inverted-primary-color) ;
}

.disabled {
  opacity: .5;
}

.bottom-right {
  top: 100%;
  right: 0;
}

.bottom-left {
  top: 100%;
  left: 0;
}

.top-right {
  bottom: 100%;
  right: 0;
}

.top-left {
  bottom: 100%;
  left: 0;
}