.ArticlesList {
  margin-top: 12px;
  width: 100%;
  padding: 0 12px;
  height: fit-content;
}

.skeletons {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.TILE {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 60px;
}

.LIST {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list-item {
  margin-top: 12px;
}

.tile-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 32px;
  margin: 0 30px;
}

.tile-item-container {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 300px) {
    width: 100%;
  }
}