.ArticlesList {
  width: 100%;
  padding: 0 12px;
}

.skeletons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.TILE {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 60px;
}

.LIST {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
