.list {
  height: 350px;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 20px;
}

.list-redesigned {
  height: 400px;

  // overflow-y: hidden;
  // overflow-x: auto;
  overflow-y: auto;
  padding-top: 20px;
}