.AppLink {
	color: var(--primary-color);
	width: fit-content;

	&:hover {
		opacity: .8;
	}
}

.primary {
	color: var(--primary-color);
}

.secondary {
	color: var(--inverted-primary-color);
}

.no-underline {
	text-decoration: none;
}