.StickyContentLayout {
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: min-content 1fr min-content;
  column-gap: 16px;
}

.left {
  grid-area: left;
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  width: 100%;
  display: flex;
}

.right {
  grid-area: right;
}

.left,
.right {
  top: 0;
  position: sticky;
  top: 32px;
  height: fit-content;
}